body {
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #212121;
    color: 	#1db954;
}
.navBar{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #121212;
    padding: 50px;
    border-bottom: 1px solid black;
    font-size: 40px;
    position: relative;
    width: 100%;
}
.logo img{
    width: 150px;
    height: auto;
    position: absolute;
    top: 10px;
    left: 20px;
    border: 1px solid #1db954;
}
.featured {
    margin: 20px;
}
.featured img{
    width: 30vw;
    max-width: 1000px;
    height:auto;
 
    border: 2px solid black;
}
.projects {
    margin: 20px;
}

.photos{
    display: flex;
    justify-content: center;
    gap: 15px;
}
.figproj{
    width: 20vw;
}
.image{
    width: 20vw;
    height: auto;
    border: 2px solid black;
    flex-wrap: wrap;
}
.aboutme {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 20px;
}
.imgabtme {
    width: 20vw;
    border: 2px solid black;
}
.footer{
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    margin-left: 160px;
    background-color:#212121;
    padding: 20px;
    border-top: 1px solid black;
    font-size: 13px;    
}
.footer img{
    width: 150px;
    height: auto;
    position: absolute;
    border: 1px solid #1db954;
    left: 20px;
}
.autobioinfo{
    max-width: 250px;
    justify-content: center;
    text-align: justify;
    margin: 0 auto;
    font-size: 15px;
}
.footer .medialinks{
    color:white;
}
.footer .backtotop{
    color:white;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
